langchain
ipykernel
openai
langchain-community
python-dotenv
pypdf
bs4
langchain-text-splitters
langchain-openai
requests 
feedparser
faiss-cpu
langchain_google_genai
langchain_huggingface
requests
feedparser
streamlit
sentence_transformers
pymupdf